# Exploring Data
Historical mortality rates by state.

[CDC Data](https://data.cdc.gov/NCHS/Weekly-counts-of-death-by-jurisdiction-and-cause-o/u6jv-9ijr) (Updated Oct. 21, 2020)

----

Use this notebook to explore and prepare data

In [1]:
import os
import numpy as np
import pandas as pd

In [4]:
# Historical deaths by jurisiction. (State)
df = pd.read_csv('../data/raw/Weekly_counts_of_death_by_jurisdiction_and_cause_of_death.csv')

In [5]:
df.head()

,Jurisdiction,Week Ending Date,State Abbreviation,Year,Week,Cause Group,Number of Deaths,Cause Subgroup,Time Period,Suppress,Note,Average Number of Deaths in Time Period,Difference from 2015-2019 to 2020,Percent Difference from 2015-2019 to 2020,Type
0,Alabama,2015-01-10,AL,2015,1,Alzheimer disease and dementia,120.0,Alzheimer disease and dementia,2015-2019,NaN,NaN,103,NaN,NaN,Predicted (weighted)
1,Alabama,2015-01-10,AL,2015,1,Alzheimer disease and dementia,120.0,Alzheimer disease and dementia,2015-2019,NaN,NaN,103,NaN,NaN,Unweighted
2,Alabama,2016-01-09,AL,2016,1,Alzheimer disease and dementia,76.0,Alzheimer disease and dementia,2015-2019,NaN,NaN,103,NaN,NaN,Predicted (weighted)
3,Alabama,2016-01-09,AL,2016,1,Alzheimer disease and dementia,76.0,Alzheimer disease and dementia,2015-2019,NaN,NaN,103,NaN,NaN,Unweighted
4,Alabama,2017-01-07,AL,2017,1,Alzheimer disease and dementia,96.0,Alzheimer disease and dementia,2015-2019,NaN,NaN,103,NaN,NaN,Predicted (weighted)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314408 entries, 0 to 314407
Data columns (total 15 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   Jurisdiction                               314408 non-null  object
 1   Week Ending Date                           314408 non-null  object
 2   State Abbreviation                         314408 non-null  object
 3   Year                                       314408 non-null  int64
 4   Week                                       314408 non-null  int64
 5   Cause Group                                314408 non-null  object
 6   Number of Deaths                           314405 non-null  float64
 7   Cause Subgroup                             314408 non-null  object
 8   Time Period                                314408 non-null  object
 9   Suppress                                   6 non-null       object
 10  Note                                       36472 non-null   object
 11  Average Number of Deaths in Time Period    314408 non-null  int64
 12  Difference from 2015-2019 to 2020          19856 non-null   float64
 13  Percent Difference from 2015-2019 to 2020  19856 non-null   float64
 14  Type                                       314408 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 36.0+ MB

In [8]:
df.describe()

,Year,Week,Number of Deaths,Average Number of Deaths in Time Period,Difference from 2015-2019 to 2020,Percent Difference from 2015-2019 to 2020
count,314408.000000,314408.000000,314405.000000,314408.00000,19856.000000,19856.000000
mean,2017.390073,25.359457,157.290721,157.29122,8.387792,7.528546
std,1.656097,14.872981,681.482566,681.11835,63.000948,26.335086
min,2015.000000,1.000000,11.000000,11.00000,-593.000000,-70.300000
25%,2016.000000,12.000000,23.000000,24.00000,-4.000000,-7.700000
50%,2017.000000,25.000000,44.000000,44.00000,2.000000,4.500000
75%,2019.000000,38.000000,94.000000,94.00000,10.000000,19.200000
max,2020.000000,52.000000,12433.000000,12046.00000,2009.000000,528.400000